<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example.userservice" level="INFO" />

    <logger name="org.hibernate" level="ERROR" />

    <logger name="org.postgresql" level="ERROR" />

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
